[Unit]
Description=MAC address change eth0
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device
Before=netctl-ifplugd@eth0.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ip link set dev eth0 down
ExecStart=/usr/bin/ip link set dev eth0 address YOUR_MAC_ADDRESS

[Install]
WantedBy=network.target
